samples/business-process-samples/product/src/main/resources/bpel/2.0/ComposeUrl/ComposeUrl.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions 
    targetNamespace="http://ode/bpel/unit-test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://ode/bpel/unit-test.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ode/bpel/unit-test.wsdl">
            <xsd:complexType name="pairsType">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string"/>
                    <xsd:element name="tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name="ComposeUrlMessage">
        <wsdl:part name="template" type="xsd:string"/>
        <wsdl:part name="name" type="xsd:string"/>
        <wsdl:part name="value" type="xsd:string"/>
        <wsdl:part name="pairs" type="tns:pairsType"/>
    </wsdl:message>
    
    <wsdl:portType name="ComposeUrlPortType">
        <wsdl:operation name="composeUrl">
            <wsdl:input message="tns:ComposeUrlMessage" name="TestIn"/>
            <wsdl:output message="tns:ComposeUrlMessage" name="TestOut"/>
        </wsdl:operation>
    </wsdl:portType>
    
     <wsdl:binding name="ComposeUrlSoapBinding" type="tns:ComposeUrlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="composeUrl">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input>
                <soap:body
                    namespace="http://ode/bpel/unit-test.wsdl"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http://ode/bpel/unit-test.wsdl" 
                    use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ComposeUrlService">
		<wsdl:port name="ComposeUrlPort" binding="tns:ComposeUrlSoapBinding">
     		<soap:address location="http://localhost:9765/services/ComposeUrlService"/>
		</wsdl:port>
    </wsdl:service>
    
   <plnk:partnerLinkType name="ComposeUrlPartnerLinkType">
       <plnk:role name="me" portType="tns:ComposeUrlPortType"/>
       <plnk:role name="you" portType="tns:ComposeUrlPortType"/>
   </plnk:partnerLinkType>
</wsdl:definitions>

