samples/business-process-samples/product/src/main/resources/humantask/HTWithServiceDescriptorANDUnifiedEndpoint/HTWSDAUE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HTWSDAUE" targetNamespace="http://www.example.com/claims/"
	xmlns:tns="http://www.example.com/claims/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tschema="http://www.example.com/claims/schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
	<wsdl:documentation>
		Example for WS-HumanTask 1.1 - WS-HumanTask Task Interface Definition
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.com/claims/schema"
			xmlns:tns="http://www.example.com/claims/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
			<xsd:element name="HTWSDAUEData" type="tns:HTWSDAUEDataType" />
			<xsd:complexType name="HTWSDAUEDataType">
				<xsd:sequence>
					<xsd:element name="cust">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="id" type="xsd:string">
								</xsd:element>
								<xsd:element name="firstname" type="xsd:string">
								</xsd:element>
								<xsd:element name="lastname" type="xsd:string">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>

					<xsd:element name="amount" type="xsd:double" />
					<xsd:element name="region" type="xsd:string" />
					<xsd:element name="priority" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HTWSDAUENotificationData" type="tns:HTWSDAUENotificationDataType" />
			<xsd:complexType name="HTWSDAUENotificationDataType">
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string" />
					<xsd:element name="lastname" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="HTWSDAUEResponse" type="tns:HTWSDAUEResponseType"></xsd:element>
			<xsd:complexType name="HTWSDAUEResponseType">
        		<xsd:sequence>
        			<xsd:element name="approved" type="xsd:boolean"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="HTWSDAUERequest">
		<wsdl:part name="HTWSDAUERequest" element="tschema:HTWSDAUEData" />
	</wsdl:message>

	<wsdl:message name="HTWSDAUEResponse">
		<wsdl:part name="HTWSDAUEResponse" element="tschema:HTWSDAUEResponse" />
	</wsdl:message>

	<wsdl:message name="HTWSDAUENotificationRequest">
		<wsdl:part name="HTWSDAUENotificationRequest" element="tschema:HTWSDAUENotificationData" />
	</wsdl:message>

	<wsdl:portType name="ClaimsHandlingPT">
		<wsdl:operation name="approve">
			<wsdl:input message="tns:HTWSDAUERequest" />
		</wsdl:operation>

		<wsdl:operation name="escalate">
			<wsdl:input message="tns:HTWSDAUERequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ClaimsHandlingCallbackPT">
		<wsdl:operation name="approvalResponse">
			<wsdl:input message="tns:HTWSDAUEResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="HTWSDAUEReminderPT">
		<wsdl:operation name="notify">
			<wsdl:input message="tns:HTWSDAUENotificationRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ClaimSoapBinding" type="tns:ClaimsHandlingPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approve">
			<soap:operation soapAction="urn:approve" style="document" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.com/claims/" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="escalate">
			<soap:operation soapAction="urn:escalate" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ClaimSoapBindingReminder" type="tns:HTWSDAUEReminderPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notify">
			<soap:operation soapAction="urn:notify" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ClaimSoapBindingCB" type="tns:ClaimsHandlingCallbackPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approvalResponse">
			<soap:operation soapAction="urn:approvalResponse"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HTWSDAUEService">
		<wsdl:port name="ClaimPort" binding="tns:ClaimSoapBinding">
			<soap:address location="http://localhost:9763/services/HTWSDAUEService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="ClaimReminderService">
		<wsdl:port name="ClaimReminderPort" binding="tns:ClaimSoapBindingReminder">
			<soap:address location="http://localhost:9763/services/ClaimReminderService" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="HTWSDAUEServiceCB">
		<wsdl:port name="ClaimPortCB" binding="tns:ClaimSoapBindingCB">
			<soap:address location="http://localhost:9763/services/HTWSDAUEServiceCB" />
		</wsdl:port>

    </wsdl:service>

</wsdl:definitions>
