samples/business-process-samples/product/src/main/resources/bpel/2.0/SecurePartnerBPEL/SecurePartnerBPELService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SecurePartnerBPELService" targetNamespace="http://SecurePartnerBPELService.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SecurePartnerBPELService.wsdl" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:msgs="http://www.example.org/messages">
    <wsdl:types>
      <xsd:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/messages">
         <xsd:element name="SecurePartnerBPELServiceRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="param0" type="xsd:int"/>

               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SecurePartnerBPELServiceResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="return" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
    <message name="SecurePartnerBPELServiceOperationRequest">
        <part name="SecurePartnerBPELServiceRequest" element="msgs:SecurePartnerBPELServiceRequest"/>
    </message>
    <message name="SecurePartnerBPELServiceOperationResponse">
        <part name="SecurePartnerBPELServiceResponse" element="msgs:SecurePartnerBPELServiceResponse"/>
    </message>
    <portType name="SecurePartnerBPELServicePortType">
        <operation name="SecurePartnerBPELServiceOperation">
            <input name="input1" message="tns:SecurePartnerBPELServiceOperationRequest"/>
            <output name="output1" message="tns:SecurePartnerBPELServiceOperationResponse"/>
        </operation>
    </portType>
    <binding name="SecurePartnerBPELServiceBinding" type="tns:SecurePartnerBPELServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SecurePartnerBPELServiceOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SecurePartnerBPELServiceService">
        <port name="SecurePartnerBPELServicePort" binding="tns:SecurePartnerBPELServiceBinding">
            <soap:address location="http://localhost:9000/services/SecurePartnerBPELService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="SecurePartnerBPELService">
        <plnk:role name="SecurePartnerBPELServicePortTypeRole" portType="tns:SecurePartnerBPELServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
