samples/business-process-samples/product/src/main/resources/bpel/2.0/SecurePartnerBPEL/SecurePartnerService12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SecurePartnerService12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://SecurePartnerService12.wsdl" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://SecurePartnerService12.wsdl" xmlns:ns2="http://ws.apache.org/axis2">
  




 <wsdl:types>
      <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
         <xs:element name="SecurePartnerRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="param0" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="SecurePartnerResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="SecurePartnerService12Request">
      <wsdl:part name="parameter1" element="ns2:SecurePartnerRequest"/>
   </wsdl:message>
   <wsdl:message name="SecurePartnerService12Response">
      <wsdl:part name="parameter2" element="ns2:SecurePartnerResponse"/>
   </wsdl:message>
   <wsdl:portType name="SecurePartnerService12PortType">
      <wsdl:operation name="SecurePartner">
         <wsdl:input message="ns0:SecurePartnerService12Request" wsaw:Action="urn:SecurePartner"/>
         <wsdl:output message="ns0:SecurePartnerService12Response" wsaw:Action="urn:SecurePartnerResponse"/>
      </wsdl:operation>
   </wsdl:portType>








   <wsdl:binding name="SecurePartnerService12SOAP11Binding" type="ns0:SecurePartnerService12PortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SecurePartner">
         <soap:operation soapAction="urn:SecurePartner" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>


   <wsdl:binding name="SecurePartnerService12SOAP12Binding" type="ns0:SecurePartnerService12PortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="SecurePartner">
         <soap12:operation soapAction="urn:SecurePartner" style="document"/>
         <wsdl:input>
            <soap12:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SecurePartnerService12HttpBinding" type="ns0:SecurePartnerService12PortType">
      <http:binding verb="POST"/>
      <wsdl:operation name="SecurePartner">
         <http:operation location="SecurePartnerService12/SecurePartnerRequest"/>
         <wsdl:input>
            <mime:content type="text/xml" part="SecurePartnerRequest"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="SecurePartnerResponse"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SecurePartnerService12">
      <wsdl:port name="SecurePartnerService12SOAP11port_http" binding="ns0:SecurePartnerService12SOAP11Binding">
         <soap:address location="http://localhost:9000/services/SecurePartnerService12"/>
      </wsdl:port>
      <wsdl:port name="SecurePartnerService12SOAP12port_http" binding="ns0:SecurePartnerService12SOAP12Binding">
         <soap12:address location="http://localhost:9000/services/SecurePartnerService12"/>
      </wsdl:port>
      <wsdl:port name="SecurePartnerService12Httpport" binding="ns0:SecurePartnerService12HttpBinding">
         <http:address location="http://localhost:9000/services/SecurePartnerService12"/>
      </wsdl:port>
   </wsdl:service>
    <plink:partnerLinkType name="SecurePartnerService12PartnerlinkType">
        <plink:role name="SecurePartnerService12Role" portType="ns0:SecurePartnerService12PortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
