samples/business-process-samples/product/src/main/resources/bpel/2.0/SampleAsynchronousProcess/Async-Server/ClientArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="Client" targetNamespace="urn:ode-apache-org:example:async:client" xmlns:tns="urn:ode-apache-org:example:async:client"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:server="urn:ode-apache-org:example:async:server">
  <import location="ServerArtifacts.wsdl" namespace="urn:ode-apache-org:example:async:server"></import>
  <types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ode-apache-org:example:async:client"
      xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="ClientRequest">
        <complexType>
          <sequence>
	    <element name="id" type="string" />
            <element name="input" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ClientResponse">
        <complexType>
          <sequence>
	    <element name="id" type="string" />
            <element name="result" type="string" />
          </sequence>
        </complexType>
      </element>
      <!--<element name="NewOperation">
        <complexType>
          <sequence>
            <element name="in" type="string"></element>
          </sequence>
        </complexType>
      </element>
      <element name="NewOperationResponse">
        <complexType>
          <sequence>
            <element name="out" type="string"></element>
          </sequence>
        </complexType>
      </element>-->
    </schema>
  </types>
  <message name="ClientRequestMessage">
    <part name="payload" element="tns:ClientRequest" />
  </message>
  <message name="ClientResponseMessage">
    <part name="payload" element="tns:ClientResponse" />
  </message>
  <!--<message name="NewOperationRequest">
    <part name="parameters" element="tns:NewOperation"></part>
  </message>
  <message name="NewOperationResponse">
    <part name="parameters" element="tns:NewOperationResponse"></part>
  </message>-->
  <portType name="Client">
    <operation name="process">
      <input message="tns:ClientRequestMessage" />
      <output message="tns:ClientResponseMessage" />
    </operation>
  </portType>
  <plnk:partnerLinkType name="Client">
    <plnk:role name="ClientProvider" portType="tns:Client" />
  </plnk:partnerLinkType>
  <binding name="ClientBinding" type="tns:Client">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="process">
      <soap:operation soapAction="urn:ode-apache-org:example:async/process" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="ClientService">
    <port name="ClientPort" binding="tns:ClientBinding">
      <soap:address location="http://localhost:8080/ode/processes/Client" />
    </port>
  </service>
  <service name="ServerCallbackService">
    <port name="ServerCallbackPort" binding="server:ServerCallbackBinding">
      <soap:address location="http://localhost:9973/services/ServerCallback" />
    </port>
  </service>
</definitions>
