samples/business-process-samples/product/src/main/resources/bpel/2.0/ClaimsApprovalProcess/ClaimsApprovalProcessService.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions 
    targetNamespace="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
    xmlns:tschema="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
      targetNamespace="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:tns="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl">
	
      <xsd:element name="ClaimApprovalProcessInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="custID" type="xsd:string" />
	    <xsd:element name="custFName" type="xsd:string" />
	    <xsd:element name="custLName" type="xsd:string" />
            <xsd:element name="amount" type="xsd:double" />
            <xsd:element name="region" type="xsd:string" />
            <xsd:element name="priority" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    
    <wsdl:message name="ClaimsApprovalProcessMessage">
        <wsdl:part name="ClaimsApprovalProcessMessage" element="tschema:ClaimApprovalProcessInput"/>
    </wsdl:message>
    
    <wsdl:portType name="ClaimsApprovalProcessPortType">
        <wsdl:operation name="claimsApprovalProcessOperation">
            <wsdl:input message="tns:ClaimsApprovalProcessMessage" name="TestIn"/>
        </wsdl:operation>    
    </wsdl:portType>
    
     <wsdl:binding name="ClaimsApprovalProcessSoapBinding" type="tns:ClaimsApprovalProcessPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="claimsApprovalProcessOperation">
            <soap:operation soapAction="urn:claimsApprovalProcessOperation" style="document"/>
            <wsdl:input>
                <soap:body
                    namespace="http://www.wso2.org/humantask/claimsapprovalprocessservice.wsdl"
                    use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClaimsApprovalProcessService">
		<wsdl:port name="ClaimsApprovalProcessPort" binding="tns:ClaimsApprovalProcessSoapBinding">
     		<soap:address location="http://localhost:9763/services/ClaimsApprovalProcessService"/>
		</wsdl:port>
    </wsdl:service>
    
   <plnk:partnerLinkType name="ClaimsApprovalProcessPartnerLinkType">
       <plnk:role name="me" portType="tns:ClaimsApprovalProcessPortType"/>
       <plnk:role name="you" portType="tns:ClaimsApprovalProcessPortType"/>
   </plnk:partnerLinkType>
</wsdl:definitions>

