samples/business-process-samples/product/src/main/resources/bpel/2.0/CorrelationWithAttribute/callback.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="callback" targetNamespace="http://www.example.org/callback/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/callback/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/callback/"  elementFormDefault="qualified">
	<xsd:element name="CallbackOperation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CallbackOperationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="CallbackOperationRequest">
		<wsdl:part name="parameters" element="tns:CallbackOperation"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="CallbackOperationResponse">
    	<wsdl:part name="parameters" element="tns:CallbackOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CallbackPortType">
    	<wsdl:operation name="CallbackOperation">
    		<wsdl:input message="tns:CallbackOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:CallbackOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CallbackBinding" type="tns:CallbackPortType">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="CallbackOperation">
    		<soap:operation
    			soapAction="http://www.example.org/callback/CallbackOperation" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CallbackService">
    	<wsdl:port name="CallbackPort" binding="tns:CallbackBinding">
    		<soap:address location="http://www.example.org/" />
    	</wsdl:port>
    </wsdl:service></wsdl:definitions>