samples/business-process-samples/product/src/main/resources/bpel/2.0/FlexibleAssign/FlexibleAssign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://wso2.org/bps/schema/FlexibleAssign"
            xmlns:tns="http://wso2.org/bps/schema/FlexibleAssign"
            elementFormDefault="qualified">

    <xsd:complexType name="simpleProcess">
        <xsd:sequence>
            <xsd:element name="paramA" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="typeA" type="tns:simpleProcess"/>
</xsd:schema>
