samples/business-process-samples/product/src/main/resources/bpel/2.0/XMLAttributeProcess/testProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://eclipse.org/bpel/sample" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://ws.wso2.org/dataservice" name="XMLAttributeProcess" targetNamespace="http://eclipse.org/bpel/sample" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:p="http://www.w3.org/2001/XMLSchema">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of services participating in this BPEL process 
     The default output of the BPEL designer uses strings as input and 
     output to the BPEL Process. But you can define or import any XML 
     Schema type and us them as part of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    
    <types>  
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://eclipse.org/bpel/sample">
                
            <element name="XMLAttributeProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="string"/>
                    </sequence>
                </complexType>
            </element>
                  
            <element name="XMLAttributeProcessResponse">
                <complexType>
                    <sequence>
                    	<element name="record1" type="string" />
                    	<element name="record2" type="string"></element>
                    </sequence>
                </complexType>
            </element>
            
            <element name="initiateResponse">
            	<complexType>
            		<sequence>
            			<element name="out" type="string"></element>
            		</sequence>
            	</complexType>
            </element>
        </schema>
    </types>
  
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="XMLAttributeProcessRequestMessage">
        <part element="tns:XMLAttributeProcessRequest" name="payload"/>
    </message>
    
    <message name="XMLAttributeProcessResponseMessage">
        <part element="tns:XMLAttributeProcessResponse" name="payload"/>
    </message>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- portType implemented by the XMLAttributeProcess BPEL process -->
    <message name="initiateResponse">
    	<part name="parameters" element="tns:XMLAttributeProcessResponse"></part>
    </message>
    <portType name="XMLAttributeProcess">
        <operation name="initiate">
            <input message="tns:XMLAttributeProcessRequestMessage"/>
            <output message="tns:initiateResponse"></output>
        </operation>
    </portType>

    <!-- portType implemented by the requester of XMLAttributeProcess BPEL process 
         for asynchronous callback purposes
         -->


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
         the XMLAttributeProcess partnerLinkType binds the provider and
         requester portType into an asynchronous conversation.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="XMLAttributeProcess">
        <plnk:role name="XMLAttributeProcessProvider" portType="tns:XMLAttributeProcess"/>
    </plnk:partnerLinkType>   
    <binding name="NewBinding" type="tns:XMLAttributeProcess">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="initiate">
    		<soap:operation
    			soapAction="http://eclipse.org/bpel/sample/initiate" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>
    <service name="XMLAttributeProcessService">
    	<port name="XMLAttributeProcessPort" binding="tns:NewBinding">
    		<soap:address location="http://www.example.org/" />
    	</port>
    </service>
</definitions>
