integration/mediation-tests/tests-sample/src/test/resources/artifacts/ESB/synapseconfig/healthcarescenario/HCCService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://healthcare.wso2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2364="http://healthcare.wso2/xsd" targetNamespace="http://healthcare.wso2">
    <wsdl:documentation>HCCService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://healthcare.wso2/xsd">
            <xs:complexType name="HCInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="approxDistance" type="xs:double" />
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="hcCenterName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2365="http://healthcare.wso2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://healthcare.wso2">
            <xs:import namespace="http://healthcare.wso2/xsd" />
            <xs:element name="getHealthcareCenterInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHealthcareCenterInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2365:HCInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHealthcareCenterInfoRequest">
        <wsdl:part name="parameters" element="ns:getHealthcareCenterInfo" />
    </wsdl:message>
    <wsdl:message name="getHealthcareCenterInfoResponse">
        <wsdl:part name="parameters" element="ns:getHealthcareCenterInfoResponse" />
    </wsdl:message>
    <wsdl:portType name="HCCServicePortType">
        <wsdl:operation name="getHealthcareCenterInfo">
            <wsdl:input message="ns:getHealthcareCenterInfoRequest" wsaw:Action="urn:getHealthcareCenterInfo" />
            <wsdl:output message="ns:getHealthcareCenterInfoResponse" wsaw:Action="urn:getHealthcareCenterInfoResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HCCServiceSoap11Binding" type="ns:HCCServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHealthcareCenterInfo">
            <soap:operation soapAction="urn:getHealthcareCenterInfo" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCCServiceSoap12Binding" type="ns:HCCServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getHealthcareCenterInfo">
            <soap12:operation soapAction="urn:getHealthcareCenterInfo" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCCServiceHttpBinding" type="ns:HCCServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getHealthcareCenterInfo">
            <http:operation location="getHealthcareCenterInfo" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HCCService">
        <wsdl:port name="HCCServiceHttpSoap11Endpoint" binding="ns:HCCServiceSoap11Binding">
            <soap:address location="http://localhost:8280/services/HCCService" />
        </wsdl:port>
        <wsdl:port name="HCCServiceHttpsSoap11Endpoint" binding="ns:HCCServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/HCCService" />
        </wsdl:port>
        <wsdl:port name="HCCServiceHttpsSoap12Endpoint" binding="ns:HCCServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/HCCService" />
        </wsdl:port>
        <wsdl:port name="HCCServiceHttpSoap12Endpoint" binding="ns:HCCServiceSoap12Binding">
            <soap12:address location="http://localhost:8280/services/HCCService" />
        </wsdl:port>
        <wsdl:port name="HCCServiceHttpEndpoint" binding="ns:HCCServiceHttpBinding">
            <http:address location="http://localhost:8280/services/HCCService" />
        </wsdl:port>
        <wsdl:port name="HCCServiceHttpsEndpoint" binding="ns:HCCServiceHttpBinding">
            <http:address location="https://localhost:8243/services/HCCService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>