integration/mediation-tests/tests-ui/src/test/resources/artifacts/ESB/synapseconfig/healthcarescenario/GeoService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://geo.wso2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://geo.wso2">
    <wsdl:documentation>GeoService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://geo.wso2">
            <xs:element name="getZipCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getZipCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getZipCodeRequest">
        <wsdl:part name="parameters" element="ns:getZipCode"/>
    </wsdl:message>
    <wsdl:message name="getZipCodeResponse">
        <wsdl:part name="parameters" element="ns:getZipCodeResponse"/>
    </wsdl:message>
    <wsdl:portType name="GeoServicePortType">
        <wsdl:operation name="getZipCode">
            <wsdl:input message="ns:getZipCodeRequest" wsaw:Action="urn:getZipCode"/>
            <wsdl:output message="ns:getZipCodeResponse" wsaw:Action="urn:getZipCodeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GeoServiceSoap11Binding" type="ns:GeoServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getZipCode">
            <soap:operation soapAction="urn:getZipCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GeoServiceSoap12Binding" type="ns:GeoServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getZipCode">
            <soap12:operation soapAction="urn:getZipCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GeoServiceHttpBinding" type="ns:GeoServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getZipCode">
            <http:operation location="getZipCode"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GeoService">
        <wsdl:port name="GeoServiceHttpSoap11Endpoint" binding="ns:GeoServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:9764/services/GeoService.GeoServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceLocalSoap11Endpoint" binding="ns:GeoServiceSoap11Binding">
            <soap:address location="local:///services/GeoService.GeoServiceLocalSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsSoap11Endpoint" binding="ns:GeoServiceSoap11Binding">
            <soap:address location="https://127.0.0.1:9444/services/GeoService.GeoServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceLocalSoap12Endpoint" binding="ns:GeoServiceSoap12Binding">
            <soap12:address location="local:///services/GeoService.GeoServiceLocalSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpSoap12Endpoint" binding="ns:GeoServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:9764/services/GeoService.GeoServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsSoap12Endpoint" binding="ns:GeoServiceSoap12Binding">
            <soap12:address location="https://127.0.0.1:9444/services/GeoService.GeoServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpsEndpoint" binding="ns:GeoServiceHttpBinding">
            <http:address location="https://127.0.0.1:9444/services/GeoService.GeoServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="GeoServiceHttpEndpoint" binding="ns:GeoServiceHttpBinding">
            <http:address location="http://127.0.0.1:9764/services/GeoService.GeoServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>