integration/mediation-tests/tests-other/src/test/resources/artifacts/ESB/synapseconfig/healthcarescenario/HCFacilityLocatorService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://healthcare.wso2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://healthcare.wso2">
    <wsdl:documentation>HCFacilityLocatorService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://healthcare.wso2">
            <xs:element name="getHCCenters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHCCentersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHCCentersRequest">
        <wsdl:part name="parameters" element="ns:getHCCenters"/>
    </wsdl:message>
    <wsdl:message name="getHCCentersResponse">
        <wsdl:part name="parameters" element="ns:getHCCentersResponse"/>
    </wsdl:message>
    <wsdl:portType name="HCFacilityLocatorServicePortType">
        <wsdl:operation name="getHCCenters">
            <wsdl:input message="ns:getHCCentersRequest" wsaw:Action="urn:getHCCenters"/>
            <wsdl:output message="ns:getHCCentersResponse" wsaw:Action="urn:getHCCentersResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HCFacilityLocatorServiceSoap11Binding" type="ns:HCFacilityLocatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHCCenters">
            <soap:operation soapAction="urn:getHCCenters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCFacilityLocatorServiceSoap12Binding" type="ns:HCFacilityLocatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHCCenters">
            <soap12:operation soapAction="urn:getHCCenters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCFacilityLocatorServiceHttpBinding" type="ns:HCFacilityLocatorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getHCCenters">
            <http:operation location="getHCCenters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HCFacilityLocatorService">
        <wsdl:port name="HCFacilityLocatorServiceLocalSoap11Endpoint" binding="ns:HCFacilityLocatorServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:9764/services/HCFacilityLocatorService.HCFacilityLocatorServiceLocalSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpsSoap11Endpoint" binding="ns:HCFacilityLocatorServiceSoap11Binding">
            <soap:address location="https://127.0.0.1:9444/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpSoap11Endpoint" binding="ns:HCFacilityLocatorServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:9764/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpSoap12Endpoint" binding="ns:HCFacilityLocatorServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:9764/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpsSoap12Endpoint" binding="ns:HCFacilityLocatorServiceSoap12Binding">
            <soap12:address location="https://127.0.0.1:9444/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceLocalSoap12Endpoint" binding="ns:HCFacilityLocatorServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:9764/services/HCFacilityLocatorService.HCFacilityLocatorServiceLocalSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpsEndpoint" binding="ns:HCFacilityLocatorServiceHttpBinding">
            <http:address location="https://127.0.0.1:9444/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCFacilityLocatorServiceHttpEndpoint" binding="ns:HCFacilityLocatorServiceHttpBinding">
            <http:address location="http://127.0.0.1:9764/services/HCFacilityLocatorService.HCFacilityLocatorServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>