integration/mediation-tests/tests-sample/src/test/resources/artifacts/ESB/synapseconfig/filters/validate/schema1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.samples" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://services.samples">
    <xs:element name="getQuote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stocksymbol" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
