integration/mediation-tests/tests-service/src/test/resources/artifacts/ESB/synapseconfig/healthcarescenario/HCInformationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://healthcare.wso2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2494="http://healthcare.wso2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://healthcare.wso2">
    <wsdl:documentation>HCInformationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://healthcare.wso2/xsd">
            <xs:complexType name="HCInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="approxDistance" type="xs:double"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hcCenterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2495="http://healthcare.wso2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://healthcare.wso2">
            <xs:import namespace="http://healthcare.wso2/xsd"/>
            <xs:element name="getHCCenterInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="hcCenterCode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHCCenterInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2494:HCInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHCCenterInfoRequest">
        <wsdl:part name="parameters" element="ns:getHCCenterInfo"/>
    </wsdl:message>
    <wsdl:message name="getHCCenterInfoResponse">
        <wsdl:part name="parameters" element="ns:getHCCenterInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="HCInformationServicePortType">
        <wsdl:operation name="getHCCenterInfo">
            <wsdl:input message="ns:getHCCenterInfoRequest" wsaw:Action="urn:getHCCenterInfo"/>
            <wsdl:output message="ns:getHCCenterInfoResponse" wsaw:Action="urn:getHCCenterInfoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HCInformationServiceSoap11Binding" type="ns:HCInformationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHCCenterInfo">
            <soap:operation soapAction="urn:getHCCenterInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCInformationServiceSoap12Binding" type="ns:HCInformationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHCCenterInfo">
            <soap12:operation soapAction="urn:getHCCenterInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HCInformationServiceHttpBinding" type="ns:HCInformationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getHCCenterInfo">
            <http:operation location="getHCCenterInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HCInformationService">
        <wsdl:port name="HCInformationServiceHttpsSoap11Endpoint" binding="ns:HCInformationServiceSoap11Binding">
            <soap:address location="https://127.0.0.1:9444/services/HCInformationService.HCInformationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceLocalSoap11Endpoint" binding="ns:HCInformationServiceSoap11Binding">
            <soap:address location="local:///services/HCInformationService.HCInformationServiceLocalSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceHttpSoap11Endpoint" binding="ns:HCInformationServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:9764/services/HCInformationService.HCInformationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceLocalSoap12Endpoint" binding="ns:HCInformationServiceSoap12Binding">
            <soap12:address location="local:///services/HCInformationService.HCInformationServiceLocalSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceHttpsSoap12Endpoint" binding="ns:HCInformationServiceSoap12Binding">
            <soap12:address location="https://127.0.0.1:9444/services/HCInformationService.HCInformationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceHttpSoap12Endpoint" binding="ns:HCInformationServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:9764/services/HCInformationService.HCInformationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceHttpsEndpoint" binding="ns:HCInformationServiceHttpBinding">
            <http:address location="https://127.0.0.1:9444/services/HCInformationService.HCInformationServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="HCInformationServiceHttpEndpoint" binding="ns:HCInformationServiceHttpBinding">
            <http:address location="http://127.0.0.1:9764/services/HCInformationService.HCInformationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>