samples/business-process-samples/product/src/main/resources/bpel/2.0/AttachmentHandlingProcess/AttachmentHandlingProcess.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions 
    targetNamespace="http://ode/bpel/unit-test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://ode/bpel/unit-test.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
     <wsdl:types>
        <xsd:schema targetNamespace="http://ode/bpel/unit-test.wsdl" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xsd:element name="input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment" type="tns:tAttachment"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
 <xsd:element name="output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="attachment-name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

<xsd:complexType name="tAttachment">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="contentType" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="content" type="xsd:base64Binary" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="createdBy" type="xsd:string" maxOccurs="1" minOccurs="1" />
                    <xsd:element name="createdTime" type="xsd:dateTime" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="instanceID" type="xsd:string" maxOccurs="1" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="inputMessage">
        <wsdl:part name="TestPart" element="tns:input" />
    </wsdl:message>
    <wsdl:message name="outputMessage">
        <wsdl:part name="TestPart" element="tns:output" />
    </wsdl:message>
    
    <wsdl:portType name="HelloPortType">
        <wsdl:operation name="hello">
            <wsdl:input message="tns:inputMessage" name="TestIn"/>
            <wsdl:output message="tns:outputMessage" name="TestOut"/>
        </wsdl:operation>    
    </wsdl:portType>
    
     <wsdl:binding name="HelloSoapBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:operation"/>
            <wsdl:input>
                <soap:body
                    namespace="http://ode/bpel/unit-test.wsdl"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http://ode/bpel/unit-test.wsdl" 
                    use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AttachmentHandlingProcessService">
		<wsdl:port name="HelloPort" binding="tns:HelloSoapBinding">
     		<soap:address location="http://localhost:9763/services/helloWorld"/>
		</wsdl:port>
		<!--port name="LoanServicePort" binding="tns:LoanServiceBinding">
            <soap:address location="https://localhost:9443/services/LoanService"/>
    </port>
    <port name="LoanServicePortHttp" binding="tns:LoanServiceBinding">
            <soap:address location="http://localhost:9763/services/LoanService"/>
        </port-->

    </wsdl:service>
    
   <plnk:partnerLinkType name="HelloPartnerLinkType">
       <plnk:role name="me" portType="tns:HelloPortType"/>
       <plnk:role name="you" portType="tns:HelloPortType"/>
   </plnk:partnerLinkType>
</wsdl:definitions>

